<h1>New Robot</h1>
  <%= form_for(@robot) do |f| %>
    <%= f.text_field :name, placeholder: "name" %>
    <%= f.text_field :ability, placeholder: "ability" %>
    <%= f.text_field :manufacturer, placeholder: "manufacturer" %>
    <%= f.text_field :version, placeholder: "version" %>
    <%= f.submit "Create Bot"%>
  <% end %>
